.sidebar {
    -fx-background-color: #284B63;
}

.toolbar {
    -fx-background-color: #E5E5E5;
}

.main {
    -fx-background-color: #D9D9D9;
}

.fa-icon {
    -fx-fill: #505050;
}

.noti-num {
    -fx-background-color: #F02E54;
    -fx-background-radius: 100%;
    -fx-text-fill: #FFF;
}
