.main {
    -fx-background-color: #263238;
}

.sidebar {
    -fx-background-color: #1E272C;
}

.sidebar-btn {
    -fx-background-color: transparent;
}

.sidebar-btn:hover {
    -fx-border-color:  #9ADA45;
    -fx-border-radius: 0px 0px 0px 2px;
}

.sidebar-icon {
    -fx-fill: #4A7C7B;
}

.toolbar {
    -fx-background-color: #263238;
}

.toolbar-btn {
    -fx-background-color: transparent;
}

.toolbar-btn:hover {
    -fx-border-color:  #9ADA45;
    -fx-border-radius: 0px 0px 0px 2px;
}

.toolbar-icon {
    -fx-fill: #4A7C7B;
    -fx-font-size: 18px;
}

.notify-num {
    -fx-background-color: #F02E54;
    -fx-background-radius: 100%;
    -fx-text-fill: #FFF;
    -fx-font-family: "System";
    -fx-font-weight: Bold;
    -fx-font-size: 10px;
}

.font-small {
    -fx-font-family: "System";
    -fx-font-size: 16px;
    -fx-text-fill: #4A7C7B;
    -fx-fill: #4A7C7B;
}

.font-header {
    -fx-font-family: "Agency FB";
    -fx-font-size: 36px;
    -fx-text-fill: #4A7C7B;
}

.font-title {
    -fx-font-family: "Agency FB";
    -fx-font-weight: Bold;
    -fx-font-size: 36px;
    -fx-text-fill: #4A7C7B;
}

.button-orange {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #4A7C7B;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#263238 0%, #4A7C7B 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #263238;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #4A7C7B;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #1E272C;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}