.main {
    -fx-background-color: main-bg-color;
}
/******************** SIDEBAR STYLING ********************/
.sidebar {
    -fx-background-color: sidebar-bg-color;
}

.sidebar-btn {
    -fx-background-color: transparent;
}

.sidebar-btn:hover {
    -fx-border-color:  hover-color;
    -fx-border-radius: 0px 0px 0px 2px;
}

.sidebar-icon {
    -fx-fill: sidebar-icon-color;
}
/******************** TOOLBAR STYLING ********************/
.toolbar {
    -fx-background-color: toolbar-bg-color;
}

.toolbar-btn {
    -fx-background-color: transparent;
}

.toolbar-btn:hover {
    -fx-border-color:  hover-color;
    -fx-border-radius: 0px 0px 0px 2px;
}

.toolbar-icon {
    -fx-fill: toolbar-icon-color;
}
/******************** FONT STYLING ********************/
.font-small {
    -fx-font-family: "System";
    -fx-font-size: 16px;
    -fx-text-fill: font-color;
    -fx-fill: font-color;
}

.font-header {
    -fx-font-family: "Agency FB";
    -fx-font-size: 36px;
    -fx-text-fill: font-color;
}

.font-title {
    -fx-font-family: "Agency FB";
    -fx-font-weight: Bold;
    -fx-font-size: 36px;
    -fx-text-fill: font-color;
}

.font-results {
    -fx-font-family: "Agency FB";
    -fx-font-size: 36px;
    -fx-text-fill: results-color;
}

.font-fine {
    -fx-font-family: "System";
    -fx-font-size: 8px;
    -fx-text-fill: font-color;
    -fx-fill: font-color;
}
/******************** BUTTON STYLING ********************/
.button-dark {
    -fx-background-color: button-bg-color;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: button-font-color;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.button-orange {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #1E272C;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
/******************** TABLE STYLING ********************/
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: table-border-color;
}

.table-view .column-header-background {
    -fx-background-color: table-header-gradient;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: table-font-color;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: table-font-color;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, table-cell-color-1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, table-cell-color-2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: table-cell-color-selected;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
/******************** MISC STYLING ********************/
.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0;
}