.root {
    main-bg-color: #263238;
    sidebar-bg-color: #1E272C;
    sidebar-icon-color: #4A7C7B;
    toolbar-bg-color: #1E272C;
    toolbar-icon-color: #4A7C7B;
    hover-color: #9ADA45;
    font-color: #4A7C7B;
    results-color: #9ADA45;
    button-bg-color: #1E272C;
    button-font-color: #9ADA45;
    table-border-color: #4A7C7B;
    table-header-gradient: linear-gradient(#263238 0%, #4A7C7B 100%);
    table-font-color: #FFF;
    table-cell-color-1: #263238;
    table-cell-color-2: #1E272C;
    table-cell-color-selected: #4A7C7B;
}