.root {
    main-bg-color: #F8F7F9;
    sidebar-bg-color: #75B8C8;
    sidebar-icon-color: #2B2D42;
    toolbar-bg-color: #75B8C8;
    toolbar-icon-color: #2B2D42;
    hover-color: #92DCE5;
    font-color: #2B2D42;
    results-color: #92DCE5;
    button-bg-color: #75B8C8;
    button-font-color: #2B2D42;
    table-border-color: #2B2D42;
    table-header-gradient: linear-gradient(#F8F7F9 0%, #75B8C8 100%);
    table-font-color: #2B2D42;
    table-cell-color-1: #F8F7F9;
    table-cell-color-2: #75B8C8;
    table-cell-color-selected: #92DCE5;
}